<div class="container p-4">
    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Created At</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each links}}
                <tr>
                    <td>
                        <a href="{{url}}" target="_blank">{{title}}</a>
                    </td>
                    <td>{{description}}</td>
                    <td>{{timeago created_at}}</td>
                    <td>
                        <a class="btn btn-danger" href="/links/delete/{{id}}">Delete Link</a>
                        <a class="btn btn-secondary" href="/links/edit/{{id}}">Edit</a>
                    </td>
                </tr>
                {{else}}
                <tr>
                    <td colspan="4" class="text-center">
                        There are not Links saved yet. <a href="/links/add">Create One!</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
